@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Oswald&display=swap');

body {
    font-family: Oswald, sans-serif;
}









/* main header */

#main-heading {
    background-image: url("../images/hero.jpg");
    background-color:rgba(0, 0, 0, 0.5);
    color:rgb(255, 255, 255);
    height: 300px;
  /* Code taken from CI tutorial*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

h1 {
    font-family: MonteCarlo, sans-serif;
    font-size: 50px;
    color: rgb(255, 255, 255);
    height: 300px;
    font-weight: 400;
  

    text-align: center;
    margin: 0 auto;
    padding: 15px;
    padding-top: 150px;
}

/* Navbar */
.menu {
    background-color: rgba(201, 141, 81, 0.9);
    min-height: 500px;
    padding: 0;
    border-right: 2px solid rgb(248 248 255);
}

.nav li {
    width: 100%;
    
}

.nav-link {
    color:rgb(255, 255, 255);
}

.nav-link:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(90, 64, 38, 0.5);
}

.dropdown-menu {
    background-color: rgb(244, 232, 220);
}

.dropdown-item:focus, .dropdown-item:hover {
    color: rgb(244, 232, 220);
    background-color: #c98d51;
}
.active {
    background-color: rgba(161, 109, 56, 0.5);
    color: rgb(255, 255, 255);
}

/* main section of the site */
.container-fluid {
    padding: 0;
}

.main-content1 {
    background-color:rgb(250, 228, 203);
    min-height: 500px;
    padding-bottom: 15px;
    color:rgba(0, 0, 0);
    
    border-bottom: 2px solid rgb(248 248 255);
    border-top: 2px solid rgb(248 248 255);
}

.media img {
    padding-left: 15px;
}
.media-body {
    padding-left: 20px;
    padding-right: 20px;
}

.media-body p {
    text-align: justify;
}

.media-body h4 {
    padding-left: 30px;
    letter-spacing: 5px;
}
/* Plant details */
.details-wk,
.details-co {
    display: none;
}

.details-wk p,
.details-co p {
    font-size: 17px;
}
.details-wk h6,
.details-co h6 {
    font-size: 23px;
}

.details-wk button
.details-co button {
    text-align: center;
}


/* JS classes*/

.button-gen, .button-thai {
    background-color: rgba(206, 152, 98, 0.9);
    color:rgb(255, 255, 255);
    display: none; 
}
/* CSS for icons*/
.icon-col {
    color:rgba(68, 167, 65, 0.671);
}






/* footer styling */
.footer-style {
    background-color:rgba(201, 141, 81, 0.9);
    padding: 0;
}

.list-inline {
    margin-top: 16px;
}

.list-inline-item a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: transparent;
}

.social-links {
    text-align: center;
    vertical-align: middle;
}

@media only screen and (max-width: 575px) {
    .media {
        flex-direction: column;
    }

    /*fullwidth inline navbar menu for small devices for small devices, with a help of Crome tools*/
    .nav li{
        display: inline;
        width: 25%;
        text-align: center;
    }
    
    .menu {
        min-height: 40px;
        max-height: 40px;
        border-right: none;
    }
}

@media only screen and (max-width: 365px) {
    .nav li{
        display: inline;
        width: 50%;
        text-align: center;
    }
    .menu {
        min-height: 80px;
        max-height: 80px;
        border-right: none;
    }
    
    /*flex direction used as suggestion from Google DevTools */
    .media {
        flex-direction: column;
    }
    .media-body h4 {
        text-align: center;
        padding: 0 20px;
    }
}
    
